name: Deploy

on:
  push:
    branches: [ develop ]

permissions:
  contents: read

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      HEROKU_APP_NAME: 'sentinel-dev-45684'
      HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
