name: Deploy

on:
  push:
    branches: [ main ]

permissions:
  contents: read

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      HEROKU_APP_NAME: 'sentinel-prd-98357'
      HEROKU_API_KEY: {{ secrets.HEROKU_API_KEY }}
